{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>My Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui-1.12.1/jquery-ui.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-themes-1.12.1/jquery-ui.css' %}">
	<script type="text/javascript" src="{% static 'js/script1.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway:500,900" rel="stylesheet">
</head>
<body>
	<div class="page-grid-con">
		<div class="item grid-item-1 red"></div>
		<button class="change-theme-button font-red">
			Ubah Tema
		</button>
		<a class="c-subscribe-url" href="{% url 'subscribe' %}">
			Subscribe
		</a>
		<div class="accordion-con">
			{% for accordion in accordions%}
			<div>
				<label>
					{{ accordion.name }}
				</label>
				<div id="accordion" class="accordion">
					<h3>{{ accordion.title1 }}</h3>
					<div>
						<p>
							{{ accordion.description1 }}
						</p>
					</div>
					<h3>{{ accordion.title2 }}</h3>
					<div>
						<p>
							{{ accordion.description2 }}
						</p>
					</div>
					<h3>{{ accordion.title3 }}</h3>
					<div>
						<p>
							{{ accordion.description3 }}
						</p>
					</div>
					<h3>{{ accordion.title4 }}</h3>
					<div>
						<p>
							{{ accordion.description4 }}
						</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="item grid-item-2 white-font">
			<div class="border-box"></div>
			<div class="name">Nandhika Prayoga</div>
			<div class="desc">18 Years Old</div>
			<div>Live in Indonesia</div>
			<div>Study at Universitas Indonesia</div>
		</div>
	</div>
	<div class="loading-screen">
		<div class="sk-folding-cube">
			<div class="sk-cube1 sk-cube"></div>
			<div class="sk-cube2 sk-cube"></div>
			<div class="sk-cube4 sk-cube"></div>
			<div class="sk-cube3 sk-cube"></div>
		</div>
	</div>
</body>
</html>