{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Subscribe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/subscribe-style.css' %}">
    	<link href="https://fonts.googleapis.com/css?family=Raleway:500,900" rel="stylesheet">
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/subscribe-script.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    </head>
    <body>
        <div class="l-subscribe">
            <div class="c-subscribe__background"></div>
            <div class="l-unsubscribe">
                <div class="c-unsubscribe__wall"></div>
                <form class="c-unsubscribe__popup">
                    <label>Type your password</label>
                    <input type="password" class="c-unsubscribe__password" placeholder="Password">
                    <input type="button" class="c-unsubscribe__submit-button" value="Unsubscribe">
                </form>
            </div>
            <form class="c-subscribe__form">
                {% csrf_token %}
                {{ form.name }}
                {{ form.email }}
                {{ form.password }}
                <input type="button" class="c-subscribe__submit-button c-subscribe__submit-button--disabled" value="Subscribe">
                <p class="c-subscribe__message"></p>
            </form>
            <div class="l-subscribe__subscriber">
                <label>Subscriber</label>
                <table class="t-subscribe__subscriber"></table>
            </div>
        </div>
    </body>
</html>