* {
    text-decoration: none;
    border: none;
}

body {
    margin: 0;
    font-family: Raleway;
    overflow-x: hidden;
}

label {
    margin: 10px 0;
    border: 1px solid black;
    padding: 10px 40px;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 3px;
    font-family: Raleway;
    margin: 5px 0;
    padding: 10px 15px;
}

button {
    border-radius: 3px;
    font-family: Raleway;
    margin: 5px 0;
    padding: 10px 15px;
}

td {
    padding: 5px 10px;
    text-align: center;
}

.l-unsubscribe {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    visibility: 0;
}

.c-unsubscribe__wall {
    background-color: black;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    visibility: none;
    transition-duration: .1s;
}

.c-unsubscribe__popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0;
    visibility: none;
    z-index: -1;
    height: 300px;
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition-duration: .1s;
    transition-timing-function: ease-out;

}

.c-unsubscribe__password {
    background-color: #adc9f7;
    width: 70%;
}

.j-unsubscribe__popup--showup {
    transform: translateY(-50%, -50%);
    z-index: 1;
    opacity: 1;
    visibility: visible;
}

.j-unsubscribe__wall--showup {
    z-index: 1;
    opacity: .94;
    visibility: visible;
}

.j-unsubscribe--showup {
    z-index: 2;
}

.l-subscribe {
    display: grid;
    height: auto;
    width: 100vw;
    grid-template-columns: repeat(4, auto) 300px repeat(4, auto);
    grid-template-rows: repeat(4, 40px) auto 40px repeat(2, auto) 50px;
}

.c-subscribe__background {
    grid-column: 1/10;
    grid-row: 1/10;
    height: auto;
    background-color: #adc9f7;
}

.c-subscribe__form {
    grid-column: 5/6;
    grid-row: 5/6;
    display: flex;
    flex-flow: column nowrap;
}

.l-subscribe__subscriber {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    grid-column: 5/6;
    grid-row: 8/9;
}


.c-subscribe__form > input {
    width: 100%;
}

.c-subscribe__form > input[type="button"] {
    width: calc(100% + 30px);
}

.c-subscribe__button {
    background-color: black;
    color: white;
}

.c-subscribe__submit-button--disabled {
    background-color: grey;
    pointer-events: none
}

.l-subscribe__button {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.c-subscribe__message {
    display: flex;
    text-align: center;
    height: 100px;
    width: 300px;
    justify-content: center;
    align-items: center;
}





