{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Books</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta name="google-signin-client_id" content="705082240504-7d7j8p2jtai146pgl6vte9ucggddrp70.apps.googleusercontent.com">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script2.js' %}"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway:500,900" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body class="body-con">
	<div class="c-wall"></div>
	<div class=l-notif__popup>
		<label class="c-notif__message"></label>
	</div>
	<div class="l-google-user-auth">
		<button id="to-login" data-type="redirect">Log in</button>
		<div class='g-signin2 g-signin2--hide' data-onsuccess='onSignIn'></div>
		<div class="l-google-user"></div>
	</div>
	<div class="search-con">
		<input class="search-input" type="text" placeholder="Search">
		<button type="button" id="search-button">Search</button>
	</div>
	<div class="star-counter-con">
		<img class="star-icon" src="/media/icons/star.svg">
		<div class="counter-number">0</div>
	</div>
	<table class="book-con">
		<thead>
			<tr>
				<th>Title</th>
				<th>Authors</th>
				<th>Publisher</th>
				<th>Rating</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="books">
		</tbody>
	</table>
</body>
</html>